.center-button {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hideBg::part(background) {
    opacity: 0;
}

body>div:nth-child(2) {
    position: relative !important;
    width: 64% !important;
    height: 40% !important;
    aspect-ratio: 1 / 1 !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    border: solid !important;
}